body {
  background-color: #001857;
}

nav {
  padding: 20px;
  position: relative;
  top: 20px;
  left: 10px;
  width: 40%;
}
@media (max-width: 900px) {
  nav {
    left: 5px;
    padding: 5px;
  }
}
nav a,
#menu {
  text-decoration: none;
  font-size: 30px;
  color: white;
  padding: 10px;
  font-weight: bold;
}
@media (max-width: 900px) {
  nav a,
  #menu {
    font-size: 20px;
  }
}
nav a:hover,
#menu:hover {
  color: #27ac94;
}
main {
  width: 1360px;
  height: 860px;
  margin: auto;
}
@media (max-width: 900px) {
  main {
    width: 400px;
    height: auto;
  }
}
.column1,
.column2 {
  background-color: #1c2942;
  float: left;
  width: 500px;
  height: auto;
  margin-left: 100px;
  margin-top: 60px;
  border-radius: 10px;
  padding: 10px;
}
@media (max-width: 900px) {
  .column1,
  .column2 {
    float: none;
    width: 350px;
    margin: auto;
    margin-top: 10px;
  }
}
main iframe {
  border-radius: 10px;
  width: 500px;
  height: 450px;
}
@media (max-width: 900px) {
  main iframe {
    width: 350px;
    height: 450px;
  }
}
.container p,
main a,
span {
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  padding-left: 20px;
}
@media (max-width: 900px) {
  .container p,
  main a,
  span {
    font-size: 15px;
  }
}
i {
  padding-left: 20px;
  color: white;
  font-size: 20px;
}
@media (max-width: 900px) {
  i {
    font-size: 15px;
  }
}
.suggested {
  color: white;
  font-size: 30px;
  margin-left: 50px;
}
@media (max-width: 900px) {
  .suggested {
    font-size: 20px;
    margin-left: 20px;
  }
}
.website {
  padding-bottom: 20px;
}
