body{
    background-color:#001857 ;
}
main{
    width: 1360px;
    height: 860px;
    margin: auto;


  
}
@media (max-width:900px){
    main{
        width: 400px;
        height: auto;
    
    }
}
.column1,.column2{
    background-color:#1C2942;
    float: left;
    width: 500px;
    height: auto;
    margin-left: 100px;
    margin-top: 60px;
    border-radius: 10px;
    padding: 10px;

}
@media (max-width:900px){
    .column1,.column2{
        float: none;
        width: 350px;
        margin: auto;
        margin-top: 10px;
    }
}
main iframe{
    border-radius: 10px;
    width:500px;
    height:450px;
}
@media (max-width:900px){
    main iframe{
        width:350px;
        height:450px;
    }
}
.container p,main a,span{
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
   padding-left: 20px;
}
@media (max-width:900px){
    .container p,main a,span{
        font-size: 15px;
       
    }
}
main i{
  
    padding-left: 20px;
    color: white;
    font-size: 20px;
   
}
@media (max-width:900px){
   main i{
        font-size: 15px;
       
    }
}
.suggested{
    color: white;
    font-size: 30px;
    margin-left: 50px;
}
@media (max-width:900px){
    .suggested{
        font-size: 20px;
        margin-left: 20px;
    }
}
.website{
    padding-bottom: 20px;
}
nav{
  
    padding: 10px;
    position: absolute;
    top: 33px;
    left: 10px;
    width: 120px;
    height: 170px;
    background-color: #333;
    border-radius: 20px;


}
@media (max-width:900px){
    nav{
        top: 10px;
        width: 100px;
        height: 120px;
      
    }
}
#exit{
    float: right;
    padding-right: 10px;
   
 }
 #exit:hover{
     color: white;
 
 }
 .home{
     padding-top: 20px ;
     padding-bottom: 30px;
 }
 @media (max-width:900px){
     .home{
         padding-top: 0px ;
         padding-bottom: 20px;
       
     }
 }
 .diet{
     padding-bottom: 30px;
 }
 @media (max-width:900px){
     .diet{
         padding-bottom: 20px;
       
     }
 }
 nav a{
     padding: 20px;
     text-decoration: none;
     font-size: 15px;
     color: black ;
     font-weight: bold;
 }
 @media (max-width:900px){
     nav a{
         padding: 10px;
       
     }
 }
 nav a:hover{
    color: white;
}
